<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cards Page</title>
    <link href="https://css.gg/css" rel="stylesheet" />
    <script src="/js/uikit.min.js"></script>
    <link rel="stylesheet" href="/css/uikit.min.css">
    <script src="/js/uikit-icons.js"></script>
</head>

<body>


    <%- include('navbar') %>

        <!-- search & filter bar  -->
        <div class="uk-card uk-card-default uk-card-body uk-margin-medium-bottom uk-flex uk-flex-row@s">
            <form class="uk-grid-small uk-width-expand" uk-grid>
                <div class="uk-width-1-3@s">
                    <div class="uk-inline uk-width-expand">
                        <span class="uk-form-icon" uk-icon="icon: search"></span>
                        <input id="searchInput" class="uk-input" type="search" placeholder="Search"
                            aria-label="Not clickable icon">
                    </div>
                </div>


                <div class="uk-inline uk-width-1-6@s">
                    <button class="uk-button uk-button-default uk-text-capitalize" type="button"
                        uk-toggle="target: #offcanvas-nav"><span class="uk-margin-small-right"
                            uk-icon="settings"></span>Filter <span uk-drop-parent-icon></span>
                    </button>
                    <div id="offcanvas-nav" uk-offcanvas="overlay: true">
                        <div class="uk-offcanvas-bar">
                            <div>
                                <h4><span class="uk-margin-small-right" uk-icon="settings"></span>Filter Options</h4>
                                <hr>
                            </div>
                            <ul uk-accordion="multiple: true">
                                <li>
                                    <a class="uk-accordion-title" href>By Series</a>
                                    <div
                                        class="uk-accordion-content uk-text-small uk-text-lighter uk-margin-small-left">
                                        <div class="uk-margin uk-grid-small uk-child-width-1-1 uk-grid">
                                            <label><input id="1" class="uk-checkbox uk-margin-small-right"
                                                    type="checkbox">
                                                <%= seriesData[0].name %> Series
                                            </label>
                                            <label><input id="2" class="uk-checkbox uk-margin-small-right"
                                                    type="checkbox">
                                                <%= seriesData[1].name %> Series
                                            </label>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <a class="uk-accordion-title" href>By Card Type</a>
                                    <div
                                        class="uk-accordion-content uk-text-small uk-text-lighter uk-margin-small-left">
                                        <div class="uk-margin uk-grid-small uk-child-width-1-1 uk-grid">
                                            <label><input id="pokemon" class="uk-checkbox uk-margin-small-right"
                                                    type="checkbox">
                                                Pokemon
                                            </label>
                                            <label><input id="trainer" class="uk-checkbox uk-margin-small-right"
                                                    type="checkbox">
                                                Trainer
                                            </label>
                                            <label><input id="energy" class="uk-checkbox uk-margin-small-right"
                                                    type="checkbox">
                                                Energy
                                            </label>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <a class="uk-accordion-title" href>By Rarity</a>
                                    <div
                                        class="uk-accordion-content uk-text-small uk-text-lighter uk-margin-small-left">
                                        <div class="uk-margin uk-grid-small uk-child-width-1-1 uk-grid">
                                            <label><input id="common" class="uk-checkbox uk-margin-small-right"
                                                    type="checkbox">
                                                Common
                                            </label>
                                            <label><input id="uncommon" class="uk-checkbox uk-margin-small-right"
                                                    type="checkbox">
                                                Uncommon
                                            </label>
                                            <label><input id="rare" class="uk-checkbox uk-margin-small-right"
                                                    type="checkbox">
                                                Rare
                                            </label>
                                            <label><input id="rareHolo" class="uk-checkbox uk-margin-small-right"
                                                    type="checkbox">
                                                Rare Holo
                                            </label>
                                            <label><input id="rareHoloLVX" class="uk-checkbox uk-margin-small-right"
                                                    type="checkbox">
                                                Rare Holo LV.X
                                            </label>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <a class="uk-accordion-title" href>By Energy Type</a>
                                    <div
                                        class="uk-accordion-content uk-text-small uk-text-lighter uk-margin-small-left">
                                        <div class="uk-margin uk-grid-small uk-child-width-1-1 uk-grid">
                                            <label><input id="psychic" class="uk-checkbox uk-margin-small-right"
                                                    type="checkbox">
                                                Psychic
                                            </label>
                                            <label><input id="colorless" class="uk-checkbox uk-margin-small-right"
                                                    type="checkbox">
                                                Colorless
                                            </label>
                                            <label><input id="water" class="uk-checkbox uk-margin-small-right"
                                                    type="checkbox">
                                                Water
                                            </label>
                                            <label><input id="fire" class="uk-checkbox uk-margin-small-right"
                                                    type="checkbox">
                                                Fire
                                            </label>
                                            <label><input id="fighting" class="uk-checkbox uk-margin-small-right"
                                                    type="checkbox">
                                                Fighting
                                            </label>
                                            <label><input id="lightning" class="uk-checkbox uk-margin-small-right"
                                                    type="checkbox">
                                                Lightning
                                            </label>
                                            <label><input id="grass" class="uk-checkbox uk-margin-small-right"
                                                    type="checkbox">
                                                Grass
                                            </label>
                                            <label><input id="metal" class="uk-checkbox uk-margin-small-right"
                                                    type="checkbox">
                                                Metal
                                            </label>
                                            <label><input id="darkness" class="uk-checkbox uk-margin-small-right"
                                                    type="checkbox">
                                                Darkness
                                            </label>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <a class="uk-accordion-title" href>By Ability Type</a>
                                    <div
                                        class="uk-accordion-content uk-text-small uk-text-lighter uk-margin-small-left">
                                        <div class="uk-margin uk-grid-small uk-child-width-1-1 uk-grid">
                                            <label><input id="pokemonPower" class="uk-checkbox uk-margin-small-right"
                                                    type="checkbox">
                                                Pokemon Power
                                            </label>
                                            <label><input id="pokePower" class="uk-checkbox uk-margin-small-right"
                                                    type="checkbox">
                                                Poke-POWER
                                            </label>
                                            <label><input id="pokeBody" class="uk-checkbox uk-margin-small-right"
                                                    type="checkbox">
                                                Poke-BODY
                                            </label>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <hr>
                            <div class="uk-flex" uk-grid>
                                <div class="uk-width-1-1 uk-remove-margin">
                                    <a id="searchWithFiltersBtn" href
                                        class="uk-link-muted uk-text-small uk-width-1-1"><span
                                            class="uk-margin-small-right " uk-icon="check"></span>Apply Filters</a>
                                </div>
                                <div class="uk-width-1-1 uk-remove-margin">
                                    <a id="clearFiltersBtn" href class="uk-link-muted uk-text-small uk-width-1-1"><span
                                            class="uk-margin-small-right " uk-icon="trash"></span>Remove All Filters</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!-- search & filter bar -->

        <!-- Javascript to handle search with filters -->
        <script>
            function searchByKeyword(keyword) {
                console.log('fetching /searchByKeyword');
                console.log('keyword:', keyword);
                fetch('/searchByKeyword', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ keyword: keyword })
                })
                    .then(response => response.json())
                    .then(data => {
                        console.log('calling displaySearchResults function')
                        displaySearchResults(data);
                    })
                    .catch(error => {
                        console.error('Error performing search by keyword:', error);

                    });
            }
            const checkboxToColumnMap = {
                'pokemon': 'category',
                'trainer': 'category',
                'energy': 'category',
                'common': 'rarity',
                'uncommon': 'rarity',
                'rare': 'rarity',
                'rareHolo': 'rarity',
                'rareHoloLVX': 'rarity',
                '1': 'series',
                '2': 'series',
                'psychic': 'energy_type',
                'colorless': 'energy_type',
                'water': 'energy_type',
                'fire': 'energy_type',
                'fighting': 'energy_type',
                'lightning': 'energy_type',
                'grass': 'energy_type',
                'metal': 'energy_type',
                'darkness': 'energy_type',
                'pokemonPower': 'ability_type',
                'pokePower': 'ability_type',
                'pokeBody': 'ability_type'
            };
            function getSelectedFilters() {
                const selectedFilters = {};
                const filterCheckboxes = document.querySelectorAll('.uk-checkbox');
                const selectedChecks = {};

                filterCheckboxes.forEach(checkbox => {
                    if (checkbox.checked) {
                        selectedChecks[checkbox.id] = checkbox.value;
                    }
                });
                const selectedKeys = Object.keys(selectedChecks).filter(key => selectedChecks[key] === 'on');

                selectedKeys.forEach(checkboxId => {
                    const column = checkboxToColumnMap[checkboxId];
                    if (column) {
                        selectedFilters[checkboxId] = column;
                    }
                });
                console.log('Selected Filters from getSelectedFilters():', selectedFilters);
                return selectedFilters;
            };

            function clearAllFilters(){
                const selectedFilters = {};
                const filterCheckboxes = document.querySelectorAll('.uk-checkbox');
                const selectedChecks = {};

                filterCheckboxes.forEach(checkbox => {
                    if (checkbox.checked) {
                        checkbox.checked = false;
                    }
                });
            };


            function searchWithFilters() {
                console.log('starting searchWithFilters function...');
                const keyword = document.getElementById('searchInput').value;
                const selectedFilters = getSelectedFilters();
                console.log('selectedFilters: ', selectedFilters);

                fetch('/searchWithFilters', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ keyword, selectedFilters })
                })
                    .then(response => response.json())
                    .then(data => {
                        console.log('fetched data from server side, calling displaySearchResults(data) function');
                        console.log(data);
                        displaySearchResults(data);
                    })
                    .catch(error => {
                        console.error('Error performing search with filters:', error);
                        alert('Error performing search with filters. Please try again.');
                    });
            }

            document.getElementById('searchInput').addEventListener('keypress', function (event) {
                if (event.key === 'Enter') {
                    event.preventDefault();
                    const keyword = document.getElementById('searchInput').value;
                    searchByKeyword(keyword);
                }
            });

            document.getElementById('searchWithFiltersBtn').addEventListener('click', function () {
                console.log('triggered searchWithFiltersBtn');
                event.preventDefault();
                searchWithFilters();
            });

            document.getElementById('clearFiltersBtn').addEventListener('click', function () {
                event.preventDefault();
                clearAllFilters();
            });






        </script>
        <!-- Javascript to handle search with filters -->



        <!-- card results list -->
        <div class="">
            <div class="uk-margin uk-margin-large-left">
                <h6>Showing All <span id="cardLength">
                        <%= cardData.length %>
                    </span> Card(s): </h6>
                <div id="errorMessage" class="uk-hidden">Error searching cards. Please try again later.</div>
            </div>

            <div class="uk-grid uk-margin-large-left uk-margin-large-right uk-child-width-expand">
                <ul id="cardList" class="uk-thumbnav uk-flex uk-child-width-1-5@m uk-child-width-1-3@s" uk-margin>
                    <% cardData.forEach(card=> { %>
                        <% if (card.image) { %>
                            <li>
                                <a href="/cardinfo/<%= card.id %>" class="thumbNavi" data-card-name="<%= card.name %>">
                                    <img class="uk-border-rounded" src="<%= card.image %>/low.webp"
                                        alt="<%= card.name %> Image">
                                </a>
                            </li>
                            <% } else { %>
                                <div class="uk-card uk-card-default uk-card-hover uk-border-rounded uk-text-center"
                                    uk-height-match="target: .uk-thumbnav">
                                    <a class="uk-link-reset uk-text-small uk-text-muted uk-margin-medium-top"
                                        href="/cardinfo/<%= card.id %>" data-card-name="<%= card.name %>">no
                                        image 🖼️</a>
                                </div>
                                <% } %>
                                    <% }); %>
                </ul>
            </div>

           
            <%- include('footer') %>
        </div>
        <!-- card results list -->

        <!-- javascript handling display card results -->
        <script>
            function displaySearchResults(searchedCardData) {
                console.log('displaying search results...');
                const cardList = document.getElementById('cardList');
                cardList.innerHTML = '';

                searchedCardData.forEach(card => {
                    const listItem = document.createElement('li');
                    const anchorTag = document.createElement('a');
                    anchorTag.setAttribute('href', `/cardinfo/${card.id}`);
                    anchorTag.classList.add('thumbNavi');
                    anchorTag.setAttribute('data-card-name', card.name);

                    const imgTag = document.createElement('img');
                    imgTag.setAttribute('src', `${card.image}/low.webp`);
                    imgTag.setAttribute('alt', `${card.name} Image`);
                    imgTag.classList.add('uk-border-rounded');

                    // Check if the image URL is valid
                    imgTag.onerror = function () {
                        console.error(`Failed to load image for card: ${card.name}`);
                        // Create a div element with the desired content
                        const noImageDiv = document.createElement('div');
                        noImageDiv.classList.add('uk-card', 'uk-card-default', 'uk-card-hover', 'uk-border-rounded', 'uk-text-center');
                        noImageDiv.setAttribute('uk-height-match', 'target: .uk-thumbnav');
                        noImageDiv.innerHTML = `
                <a class="uk-link-reset uk-text-small uk-text-muted uk-margin-medium-top"
                    href="/cardinfo/${card.id}"
                    data-card-name="${card.name}">no image 🖼️</a>
            `;
                        // Append the div to the list item
                        listItem.appendChild(noImageDiv);
                    };

                    anchorTag.appendChild(imgTag);
                    listItem.appendChild(anchorTag);
                    cardList.appendChild(listItem);
                });
            }


        </script>
        <!-- javascript handling display card results -->







</body>

</html>