<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href="https://css.gg/css" rel="stylesheet" />
    <script src="/js/uikit.min.js"></script>
    <link rel="stylesheet" href="/css/uikit.min.css">
    <script src="/js/uikit-icons.js"></script>
</head>

<body>
    <%- include('navbar') %>
        <div class="uk-padding-small" uk-height-viewport="expand: true">
            <div class="">
                <h3 class="uk-margin-remove-bottom uk-text-large">My Dashboard</h3>
                <p class="uk-margin-remove-top uk-text-meta uk-text-small"><i>Welcome back @<%= user %>!</i></p>
            </div>
            <div class="uk-child-width-1-1 uk-align-center" uk-grid>

                <div class="uk-child-width-expand@s uk-text-center" uk-grid>
                    <div>
                        <div class="uk-card uk-card-default uk-card-body">Total Cards: <p>
                                <%= totalCount %>
                            </p>
                        </div>
                    </div>
                    <div>
                        <div class="uk-card uk-card-default uk-card-body">Unique Cards: <p>
                                <%= uniqueCount %>
                            </p>
                        </div>
                    </div>
                    <div>
                        <div class="uk-card uk-card-default uk-card-body">Total Series: <p>
                                <%= seriesCount %>
                            </p>
                        </div>
                    </div>
                </div>

            </div>

            <div class="uk-flex uk-flex-center" uk-grid uk-height-match>
                <div class="uk-width-1-2@s uk-card uk-card-default uk-card-body" id="targetCard">
                    <div><span class="" uk-icon="link-external"></span> Quick Access</div>
                    <button class="uk-button uk-button-default uk-width-1-1 uk-margin-remove-bottom"><a
                            class="uk-link-muted uk-text-capitalize" href="/cardsincollection"><span
                                class="uk-margin-small-right" uk-icon="thumbnails"></span>Cards in
                            collection</a></button>
                    <button class="uk-button uk-button-default uk-width-1-1 uk-margin-remove-bottom"><a
                            class="uk-link-muted uk-text-capitalize" href="/seriesincollection"><span
                                class="uk-margin-small-right" uk-icon="list"></span>Series in
                            collection</a></button>
                    <button class="uk-button uk-button-default uk-width-1-1 uk-margin-remove-bottom"><a
                            class="uk-link-muted uk-text-capitalize" href="/wishlist"><span
                                class="uk-margin-small-right" uk-icon="heart"></span>Cards in wishlist</a></button>

                </div>

                <div>
                    <div class="uk-card uk-card-default uk-card-body">Cards Per Rarity:
                        <div class="uk-text-small uk-text-muted">
                            <dd class="uk-margin-small-top">Common: <%= commonCount %>
                            </dd>
                            <dd>Uncommon: <%= uncommonCount %>
                            </dd>
                            <dd>Rare: <%= rareCount %>
                            </dd>
                            <dd>Rare Holo: <%= rareHoloCount %>
                            </dd>
                            <dd>Rare Holo LV.X: <%= rareHoloLVXCount %>
                            </dd>
                        </div>

                    </div>
                </div>

                <div>
                    <div class="uk-card uk-card-default uk-card-body">Cards Per Type:
                        <div class="uk-text-small uk-text-muted  uk-margin-top uk-margin-bottom">
                            <dd class="uk-margin-small-top">Pokemon: <%= pokemonCount %>
                            </dd>
                            <dd>Trainer: <%= trainerCount %>
                            </dd>
                            <dd>Energy: <%= energyCount %>
                            </dd>
                        </div>

                    </div>
                </div>

            </div>





        </div>


        <%- include('footer') %>
</body>

</html>