<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nav Bar</title>
    <link href="https://css.gg/css" rel="stylesheet" />
    <script src="/js/uikit.min.js"></script>
    <link rel="stylesheet" href="/css/uikit.min.css">
    <script src="/js/uikit-icons.js"></script>
</head>

<body>

    <div class="uk-position-relative">
        <div class="uk-background-primary uk-position-top" uk-sticky>
            <nav class="uk-navbar-container uk-navbar-transparent" uk-sticky>
                <div class="uk-container uk-light">
                    <div uk-navbar>

                        <div class="uk-navbar-left">

                            <div class="uk-flex uk-grid-small " style="align-items: center">
                                <a class="uk-link-reset" href="tradecard"><i class="gg-pokemon"
                                        alt="Website Logo"></i></a>
                                <a class="uk-link-reset" href="tradecard"><b>TCG Cove</b></a>
                            </div>


                            <ul class="uk-navbar-nav">
                                <li>
                                    <a href="">Series</a>
                                    <div class="uk-navbar-dropdown"
                                        uk-dropdown="boundary: !.uk-navbar; stretch: x; flip: false">
                                        <ul class="uk-nav uk-dropdown-nav">

                                            <li>
                                                <a href="/series_sets_list/<%= seriesList_data[0].id %>">
                                                    <%= seriesList_data[0].name %>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/series_sets_list/<%= seriesList_data[1].id %>">
                                                    <%= seriesList_data[1].name %>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/series_sets_list/<%= seriesList_data[2].id %>">
                                                    <%= seriesList_data[2].name %>
                                                </a>
                                            </li>
                                            <li class="uk-nav-divider"></li>
                                            <li><a href="series">More Series</a></li>
                                        </ul>
                                    </div>
                                </li>

                                <li><a href="">Cards</a>
                                    <div class="uk-navbar-dropdown"
                                        uk-dropdown="boundary: !.uk-navbar; stretch: x; flip: false">
                                        <ul class="uk-nav uk-dropdown-nav">
                                            <li><a href="#">Set 1</a></li>
                                            <li><a href="#">Set 2</a></li>
                                            <li class="uk-nav-divider"></li>
                                            <li><a href="cards">All Cards</a></li>
                                        </ul>
                                    </div>
                                </li>

                                <li><a href="#">Dashboard</a>
                            </ul>

                        </div>
                        <div class="uk-navbar-right">

                            <ul class="uk-navbar-nav">
                                <li>
                                    <a href="#" uk-icon="icon: user"></a>
                                    <div class="uk-navbar-dropdown">
                                        <ul class="uk-nav uk-navbar-dropdown-nav">
                                            <li><a href="login">Login</a></li>
                                            <li><a href="signup">Create Account</a></li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </nav>

        </div>
    </div>

</body>


</html>